<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<h1>PETS</h1>
	<ul>
		<% pet.forEach(function(item, i) { %>
			<li> <a href="/pets/<%= i%>"> <%= item.name %> the <%= item.species %> </a></li>
		
			<a href="/pets/<%= i%>/edit">EDIT</a>
			
			<form action="/pets/<%= item.id%>?_method=DELETE" method="POST">
				<button type="submit">DELETE</button>
			</form>
			
		<% }) %>
	</ul>

	<a href="/pets/new">Add a Pet!</a>

</body>
</html>